<%= render "shared/header" %>
  <!-----メインここから----->
<div class="index">
  <main>
    <!-----パンくずリストここから----->
    <div class="pl">
      <div id="bgi">
        <ul>
          <li><%= link_to "TOPページ", root_path%></li>
          <li>></li>
          <li>加盟店一覧</li>
        </ul>
      </div>
    </div>
    <!-----パンくずリストここまで----->

    <!-----検索ここから----->
    <div class="search">
      <%= form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "お店を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <!-----検索ここまで----->

    <!-----店舗リストここから----->

        <div id="store">
          <% @shops.each do |shop| %> <!-----投稿されたリスト----->
          <div class="store-list">
            <div class="store-pct">
              <%= image_tag shop.image ,class:"shop-img" %>
            </div>
            <div class="information">
              <div class="store-name">
                <h2><%= shop.shop_name %></h2>
                <p><a href="https://goo.gl/maps/w6PcYZA7etQmQA2s5" target="_blank" rel="noopener noreferrer">MAP</a></p>
                <p id="review"><%= link_to "レビュー", shop_path(shop.id), method: :get, class: "review" %></p>
              </div>
              <div class="adress">
                <p><%= shop.area.name%><%= shop.address %></p>
                <ul>
                  <li>TEL：<%= shop.phone %></li>
                  <li>営業時間：<%= shop.open_close %></li>
                </ul>
              </div>
              <div class="menu">
                <h3>選べるワンドリンクサービス</h3>
                <ol>
                  <li><%= shop.drink %></li>
                </ol>
              </div>
            </div>
          </div>
          <%end%><!-----店舗リスト１end----->
        </div>

    <!-----店舗リストここまで----->
  </main>
  <!-----メインここまで----->
</div>
  <!-----フッターここから----->
<%= render "shared/footer" %>
  <!-----フッターここまで----->
