<div class="roguin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="wrapper" class="fadeIn">
      <div>
        <%= link_to image_tag("pct35.png", class:"mono"), "/" %>
      </div>
      </div>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div id="mail">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div id="submit">
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      </div>

      <a href="#" id="tw"><p>Twitterでログイン</p></a>

      <div id="fb">
        <%= button_to "Facebookでログイン", user_facebook_omniauth_authorize_path, :method => :post%>
      </div>
      <div id="gg">
        <%= button_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, :method => :post %>
      </div>

      <div id="sign-up">
        <p><%= link_to '新規登録の方はこちら', new_user_registration_path, class: "login" %></p>
      </div>

    </div>
  <% end %>
</div>
