<div class="roguinn">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="wrapper" class="fadeIn">
      <div>
        <%= link_to image_tag("pct35.png", class:"mono"), "/" %>
      </div>
      </div>
      <p>※※※※※※ こちらはオーナー様専用のページです ※※※※※</p>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div id="mail">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div id="submit">
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      </div>

      <div id="sign-up">
        <p><%= link_to '🔒新規登録はこちら', new_owner_registration_path, class: "login" %></p>
      </div>

    </div>
  <% end %>
</div>
