<div id="my_page_logo">
  <div id="logo">
    <%= link_to image_tag("pct1.png", class:"cafe-icon"), "/" %>
  </div>
</div>

<div class="AccountPage">
  <% if @user.order.present? %> 
    <div class='sold-out'>
      <div class="AccountPage__title">
        <p>  *** こちらのチケットをお店に提示してください ***</p>
        <%= image_tag "ticket.jpg" %>
      </div>
      <div class="niji">
        <b><%= " Meets Cafe Ticket "%></b>
        <%= "  for  " %><%= current_user.nickname %><%= "様" %>

      </div>
      
    </div>
  <% else %> 
    <%= " 月額５００円で カフェ巡りを楽しもう " %>
    <div class="user">
      <%= current_user.nickname %><%= " 様" %>
    </div>
    <div class="kochira">
      <%= link_to 'CafeTicket 購入はこちら！', orders_path, method: :get%>
    </div>
  <% end %>
 
    <div class="rink">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    </div>
    <div class="rink">
      <%= link_to "トップページへ戻る", root_path%>
    </div>
</div>


